$theme_base_speed:.3s;
$theme_speed_long:2s;
$theme_speed_def:.6s;
$theme_bezier_c:.4,.66,.46,.99;
$theme_bezier_b:.12,.12,.28,.67;
$theme_bezier_b_alt:.21, .32, .47, .99;
$theme_bezier_leo:.17,.67,.83,.67;

$theme_bezier_tweenLite:.32,.85,.34,.99;
$theme_bezier_leo2:.03,1.09,.83,.99;
$theme_bezier_a:$theme_bezier_leo2;

$theme_speed_def:1.25s;
