$zindex:0;
$z-inc:10;
@for $i from 0 through 10 {
    .z-#{$i} {
        position:relative;
        z-index:$zindex !important;
    }
    $zindex:$zindex + $z-inc;
}

$margin-gutter:0px;
$margin-inc:16px;
@for $i from 0 through 10 {
    .mt-#{$i} {
        margin-top:$margin-gutter !important;
    }
    .mb-#{$i} {
        margin-bottom:$margin-gutter !important;
    }
    $margin-gutter:$margin-gutter + $margin-inc;
}

$padding-gutter:0;
$padding-inc:20px;
@for $i from 0 through 10 {
    .pt-#{$i} {
        padding-top:$padding-gutter / 2 !important;
        @include mq-min($screen-md) {
            padding-top:$padding-gutter !important;
        }
    }
    .pb-#{$i} {
        padding-bottom:$padding-gutter / 2 !important;
        @include mq-min($screen-md) {
            padding-bottom:$padding-gutter !important;
        }
    }
    $padding-gutter:$padding-gutter + $padding-inc;
}

// Mobile margin / padding
$margin-gutter:0px;
$margin-inc:20px;
@include mq-max($screen-sm - 1){
    @for $i from 0 through 10 {
        .mt-#{$i}-m {
            margin-top:$margin-gutter !important;
        }
        .mb-#{$i}-m {
            margin-bottom:$margin-gutter !important;
        }

        $margin-gutter:$margin-gutter + $margin-inc;
    }
}

$padding-gutter:0;
$padding-inc:20px;
@include mq-max($screen-sm - 1){
    @for $i from 0 through 10 {
        .pt-#{$i}-m {
            padding-top:$padding-gutter !important;
        }
        .pb-#{$i}-m {
            padding-bottom:$padding-gutter !important;
        }
        $padding-gutter:$padding-gutter + $padding-inc;
    }
}
